@font-face {
    font-family: Titulo;
    src: url(../assets/fonts/Call\ of\ Ops\ Duty.otf);
}

h1 {
    font-family: Titulo;
    font-size: 40px;
    color: rgb(133, 133, 128);
    text-shadow: rgb(179, 36, 36) 3px 2px;
}

body {
    color: rgb(25, 138, 138);
    background-image: url(../assets/image/246.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#container {
    width: 950px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#initiate {
    width: 380px;
    height: 240px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 10px;
}

#backgroundGame {
    width: 950px;
    height: 630px;
    background-image: url(../assets/image/backgrounddetailed5.png);
    background-repeat: repeat-x;
    background-size: contain;
    border-color: rgb(10, 78, 138);
    border-style: solid;
}

#player {
    padding: 20px;
    width: 85px;
    height: 35px;
    background-size: cover;
    position: absolute;
    left: 8px;
    top: 179px;
    background-image: url(../assets/image/player.png);
    background-position: center;
}

#enemies1 {
    width: 100px;
    height: 90px;
    position: absolute;
    left: -1px;
    top: 253px;
    transform: rotate(-180deg);
    background-image: url(../assets/image/export/skeleton-move_0.png);
    background-size: cover;
    background-position: center;
}

#enemies2 {
    width: 100px;
    height: 90px;
    position: absolute;
    left: -100px;
    top: 447px;
    transform: rotate(-180deg);
    background-image: url(../assets/image/export/skeleton-move_0.png);
    background-size: cover;
    background-position: center;
}

#enemies3 {
    width: 100px;
    height: 90px;
    position: absolute;
    left: -100px;
    top: 540px;
    transform: rotate(-180deg);
    background-image: url(../assets/image/export/skeleton-move_0.png);
    background-size: cover;
    background-position: center;
}

#ammo {
    width: 34px;
    height: 39px;
    position: absolute;
    left: -100px;
    top: 464px;
    background-image: url(../assets/image/ammo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#fire {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../assets/image/bullet_1.png);
    background-position: center;
    background-size: cover;
    transform: rotate(90deg);
}

#muzzle {
    width: 30px;
    height: 30px;
    background-image: url(../assets/image/muzzle.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.movePlayer {
    animation:movePlayer .5s steps(2) infinite;
    -webkit-animation: movePlayer .5s steps(2) infinite;
}

@keyframes movePlayer {
    0% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_0.png); }
    10% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_1.png);}
    15% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_2.png);}
    20% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_3.png);}
    25% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_4.png);}
    30% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_5.png);}
    35% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_6.png);}
    40% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_7.png);}
    45% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_8.png);}
    50% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_9.png);}
    55% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_10.png);}
    60% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_11.png);}
    65% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_12.png);}
    70% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_13.png);}
    75% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_14.png);}
    80% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_15.png);}
    85% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_16.png);}
    90% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_17.png);}
    95% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_18.png);}
    100% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_19.png);}
}

@-webkit-keyframes movePlayer {
    0% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_0.png); }
    10% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_1.png);}
    15% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_2.png);}
    20% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_3.png);}
    25% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_4.png);}
    30% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_5.png);}
    35% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_6.png);}
    40% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_7.png);}
    45% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_8.png);}
    50% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_9.png);}
    55% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_10.png);}
    60% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_11.png);}
    65% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_12.png);}
    70% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_13.png);}
    75% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_14.png);}
    80% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_15.png);}
    85% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_16.png);}
    90% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_17.png);}
    95% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_18.png);}
    100% { background-image: url(../assets/image/movePlayer/survivor-move_shotgun_19.png);}
}

.moveEnemies {
    animation:moveEnemies .6s steps(3) infinite;
    -webkit-animation: moveEnemies .6s steps(3) infinite;
}

@keyframes moveEnemies {
    0% { background-image: url(../assets/image/export/skeleton-move_0.png); }
    10% { background-image: url(../assets/image/export/skeleton-move_1.png);}
    15% { background-image: url(../assets/image/export/skeleton-move_2.png);}
    20% { background-image: url(../assets/image/export/skeleton-move_3.png);}
    25% { background-image: url(../assets/image/export/skeleton-move_4.png);}
    30% { background-image: url(../assets/image/export/skeleton-move_5.png);}
    35% { background-image: url(../assets/image/export/skeleton-move_6.png);}
    40% { background-image: url(../assets/image/export/skeleton-move_7.png);}
    45% { background-image: url(../assets/image/export/skeleton-move_8.png);}
    50% { background-image: url(../assets/image/export/skeleton-move_9.png);}
    60% { background-image: url(../assets/image/export/skeleton-move_10.png);}
    70% { background-image: url(../assets/image/export/skeleton-move_11.png);}
    75% { background-image: url(../assets/image/export/skeleton-move_12.png);}
    80% { background-image: url(../assets/image/export/skeleton-move_13.png);}
    85% { background-image: url(../assets/image/export/skeleton-move_14.png);}
    90% { background-image: url(../assets/image/export/skeleton-move_15.png);}
    100% { background-image: url(../assets/image/export/skeleton-move_16.png);}
}

@-webkit-keyframes moveEnemies {
    0% { background-image: url(../assets/image/export/skeleton-move_0.png); }
    10% { background-image: url(../assets/image/export/skeleton-move_1.png);}
    15% { background-image: url(../assets/image/export/skeleton-move_2.png);}
    20% { background-image: url(../assets/image/export/skeleton-move_3.png);}
    25% { background-image: url(../assets/image/export/skeleton-move_4.png);}
    30% { background-image: url(../assets/image/export/skeleton-move_5.png);}
    35% { background-image: url(../assets/image/export/skeleton-move_6.png);}
    40% { background-image: url(../assets/image/export/skeleton-move_7.png);}
    45% { background-image: url(../assets/image/export/skeleton-move_8.png);}
    50% { background-image: url(../assets/image/export/skeleton-move_9.png);}
    60% { background-image: url(../assets/image/export/skeleton-move_10.png);}
    70% { background-image: url(../assets/image/export/skeleton-move_11.png);}
    75% { background-image: url(../assets/image/export/skeleton-move_12.png);}
    80% { background-image: url(../assets/image/export/skeleton-move_13.png);}
    85% { background-image: url(../assets/image/export/skeleton-move_14.png);}
    90% { background-image: url(../assets/image/export/skeleton-move_15.png);}
    100% { background-image: url(../assets/image/export/skeleton-move_16.png);}
}